body{
  font-family:  Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#chart_div{
  width: 100%;
  height: 100vh;
}

.tooltip{
  visibility: hidden;
  border: 1px solid #A0A0A0;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.9em;
  width: auto;
  height: auto;
  z-index: 5;
  margin-right: 40px;
}

.focus_bar_group, .context_bar_group  {
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
